# MicroPython on ESP32, ESP IDF configuration with SPIRAM support
# The following options override the defaults

#
# SPI RAM config
#
CONFIG_ESP32_SPIRAM_SUPPORT=y

CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SIZE=-1
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y

CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MEMTEST=y
CONFIG_SPIRAM_CACHE_WORKAROUND=y

# ESP32-CAMERA
CONFIG_OV2640_SUPPORT=y
#CONFIG_OV7725_SUPPORT=y

#
# PARTITION
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/ESP32_CAM/partitions.csv"